.App {
  text-align: center;
  margin: 10px;
}

.App-logo {
  height: 20vmin;
  margin: 2vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

body {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
  margin: 100px;
  color: "#4a2b22"
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



li {
  float: left;
}

li a {
  display: block;

}

ul {
  list-style-type: none;
  
}

[data-theme="dark"] {
  --primary: #d81b60;
  --primary-hover: #e91e63;
  --primary-focus: rgba(216, 27, 96, 0.25);
  --primary-inverse: #FFF;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;

}
.status {
  width: 10px;
  height: 10px;
  border-radius: 100% 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: rgba(127, 185, 0, 1);
}

.pulse {
  border-radius: 50px;
  line-height: 50px;
  text-align: center;
  width: 60px;
  height: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-transform: uppercase;
  letter-spacing: 0.07.2em;
  
  &:before,
  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(127,185,0, 0.2);
    border-radius: 50px;
    opacity: 0;
  }
  
  &:before {
    transform: scale(1);
    animation: pulse 3s infinite linear;
    
  }
  
  &:after {
    animation: pulse 3s 2s infinite linear;
  }
}

@keyframes pulse {
  0% {
    transform: scale(0.6);
    opacity: 0;
  }
  33% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1.4);
    opacity: 0;
  }
}

.qrc {
  margin: 10px;
}

.center_nav {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modalAttachments {
  display: flex;
  align-items: left;
  justify-content: left;
  overflow-x: auto; /* Enable horizontal scrollbar when content exceeds the width */
  margin: 15 auto;

      
  padding: 10px;
  border-radius: 10px;
  max-width: 25rem;
}
.modalAttachments button {
  margin: 4px
}

/* Default styles for textarea */
textarea {
  width: 12rem;
  height: 12rem;
}

/* Media query for smaller width on mobile devices */
@media (max-width: 767px) {
  textarea {
    width: 100%; /* Adjust the width as needed for your design */
    max-width: 18rem; /* You can set a maximum width if needed */
  }
}
/* Add this to your CSS stylesheet */
.input-with-dropdown {
  position: relative;
}

.suggestions-dropdown {
  position: absolute;
  top: 0;
  left: 100%;
  background-color: #fff;
  border: 1px solid #ccc;
  max-height: 150px;
  overflow-y: auto;
  width: 100%; /* Adjust the width as needed */
  margin-left: 5px;
  border-radius: 1%;
}

.suggestion-item {
  padding: 8px;
  cursor: pointer;
}

.suggestion-item:hover {
  background-color: #f0f0f0;
}
@media (max-width: 767px) {
  .suggestions-dropdown {
    position: relative; /* Change to relative for stacking under the input */
    top: auto;
    left: auto;
    width: 100%; /* Full width on smaller screens */
    border-radius: 0; /* Remove border-radius for a clean look */
  }
}
/* Add this to your CSS stylesheet */
table {
  width: 60%;
  table-layout: fixed;
  border-collapse: collapse;
  margin: 0 auto; /* Add this line to center the table */
}


th, td {
  padding: 8px;
  text-align: left;
}



/* Optional: Add responsive styling for small screens */
@media (max-width: 767px) {
  th, td {
    font-size: 14px; /* Adjust font size for better readability on small screens */
    padding: 6px;
  }
  table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
  }
}


.attachment-upload {
  padding: 1rem;
  max-height: 150px;
  overflow-y: auto;
  width: 100%; /* Adjust the width as needed */
  margin-left: 5px;
  border-radius: 1%;
  margin-bottom: 10px;
}
button {
  color: #000000;
}
